<div>
  <div
    class="p-5 w-96 bg-gray-100 grid gap-4 grid-cols-1 rounded shadow-lg"
  >
    <div class="text-sm grid gap-y-2 grid-cols-1">
      <h2>ChangeDetection.OnPush</h2>
      <ul class="list-outside text-xs grid gap-2 grid-cols-4">
        <ng-container *ngFor="let todo of todoList">
          <li class="truncate overflow-ellipsis">{{ todo.id }}</li>
          <li>{{ todo.name }}</li>
          <li>{{ todo.date | date: "shortDate" }}</li>
          <li>
            {{ todo.completed }}
            <input type="checkbox" [ngModel]="todo.completed" />
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="my-2 w-96 grid gap-x-2 grid-cols-4">
    <button class="my-btn" (click)="markForCheck()">Mark for check</button>
    <button class="my-btn" (click)="detectChanges()">Detect changes</button>
    <button class="my-btn" (click)="detach()">Detach component</button>
    <button class="my-btn" (click)="reattach()">Reattach component</button>
  </div>
</div>
